html {
	background: #ccc;
	font-family: sans-serif;
}
body{
	width: 80%;
	background: #FBE1AB;
	margin: 0 auto;
	padding: 0 1em;
}
code, pre{
	background-color: #eee;
	font-size: 14px;

}
td{
	border: 1px solid #000;
	background-color: #CBE6F1;
	table-layout: auto;
	width: auto;
}