@media screen and (max-width: 720px) {

  body {
  	font-size: 130%;
  }
  p::first-letter{
  font-size: 135%;
  color: red;
  }
}
html {
	background: #214C75;
	font-family: sans-serif;
}
body{
	width: 80%;
	background: #FBE1AB; /*#CEFBAB en el css*/
	margin: 0 auto;
	padding: 0 1em;
	border: 2px solid black;
}
code, pre{
	background-color: #eee;
	font-size: 115%;
	overflow: auto;

}
pre{
	box-shadow: 3px 3px 3px #aaa;
}
th{
	background-color: #FBE1AB;
}
tr:nth-of-type(even){
	background-color: #FCE94F;
}
tr:nth-of-type(odd){
	background-color: #CBE6F1;
}
td{
	border: 1px solid #000;
/*	background-color: #CBE6F1;*/
	table-layout: auto;
	width: auto;
}
h1{
	font-style: italic;
	color: #248;
	text-shadow: 2px 2px 3px #aaa;
}
p::first-letter{
	font-weight: bold;
	font-size: 105%;
/*	display: block;
	float: left;
	padding: 2px;
	margin-right: -2px;*/
}
